<section
  class="section py-16 md:py-36 scroll-m-20 w-full mx-auto container lg:max-w-4xl md:max-w-2xl"
>
  <div class="max-w-xl">
    <div class="flex gap-4 mb-4">
      <img
        class="rounded-full shadow-lg w-16 h-16"
        src="/assets/images/andres-lopez.jpeg"
        alt="Andrés López"
      />

      <a
        href="https://www.linkedin.com/in/andres-lopez-dev01/"
        target="_blank"
        rel="noopener"
        class="flex items-center transition md:justify-center md:hover:scale-105"
      >
        <app-badge>Disponible para trabajar</app-badge>
      </a>
    </div>

    <h1
      class="text-4xl font-bold tracking-tight text-headline sm:text-5xl"
    >
      Hola, soy Andrés López
    </h1>

    <p
      class="mt-6 text-xl text-paragraph [&>strong]:text-highlight [&>strong]:font-semibold"
    >
      <strong>Desarrollador fullstack</strong> apasionado resolver desafíos complejos y convertir ideas en soluciones tecnológicas que marcan la diferencia.
    </p>

    <p class="mt-6 text-xl text-paragraph [&>strong]:text-highlight [&>strong]:font-semibold">
      Combino mis habilidades en front-end y backend para crear aplicaciones eficientes,
      con un interés particular en abordar retos complejos en el lado del servidor.
      Destaco por mi capacidad de adaptación rápida a nuevas tecnologías y mi enfoque
      en la optimización continua de procesos de desarrollo.
    </p>

    <nav class="flex flex-wrap gap-4 mt-8">
      <a
        href="mailto:contact@andreslopez.tech"
        class="social-pill group"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-mail-forward"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M12 18h-7a2 2 0 0 1 -2 -2v-10a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v7.5" />
            <path d="M3 6l9 6l9 -6" />
            <path d="M15 18h6" />
            <path d="M18 15l3 3l-3 3" />
        </svg>
        Contáctame
      </a>

      <a
        href="https://www.linkedin.com/in/andres-lopez-dev01/"
        class="social-pill group"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-brand-linkedin"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" />
          <path d="M8 11l0 5" />
          <path d="M8 8l0 .01" />
          <path d="M12 16l0 -5" />
          <path d="M16 16v-3a2 2 0 0 0 -4 0" />
        </svg>
        LinkedIn
      </a>
    </nav>
  </div>
</section>
