<header
  id="header-nav"
  class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2"
>
  <nav class="flex px-3 text-sm font-medium rounded-full justify-center items-center">
    <a href="#" class="relative block px-2 py-2 text-headline hover:text-highlight">Inicio</a>
    <a href="#" class="relative block px-2 py-2 text-headline hover:text-highlight">Proyectos</a>
    <a href="#" class="relative block px-2 py-2 text-headline hover:text-highlight">Sobre mí</a>
    <a href="#" class="relative block px-2 py-2 text-headline hover:text-highlight">Contacto</a>
  </nav>
</header>
